{deps,
 [
   {emqx, {git, "https://github.com/emqx/emqx.git", {tag, "v4.3.11"}}},
   {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.6.4"}}},
   {ecpool, {git, "https://github.com/emqx/ecpool", {tag, "v0.4.2"}}}
]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}, rebar3_format
]}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts,
 [warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warn_obsolete_guard,
  debug_info,
  {parse_transform}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  warnings_as_errors,
  deprecated_functions]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{profiles,
 [{test,
   [{deps,
     [{emqx_ct_helpers, {git, "https://github.com/emqx/emqx-ct-helpers", {tag, "1.2.2"}}},
      {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.2.0"}}}]}]}]}.

{format, [
    {files, ["src/*.erl", "test/*.erl"]},
    {formatter, otp_formatter},
    {options, #{paper => 143, ribbon => 119}}
]}.

{relx, [ {release, {ubidots_emqx_retainer, "5.0-rc.1"}, %% this is the release version, different from app vsn in .app file
            [ ubidots_emqx_retainer
            , eredis_cluster, ecpool
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["Ubidots Team"]}
    , {builder,
        [ {name, "Ubidots Team"}
        , {contact, "emqx-support@emqx.io"}
        , {website, "www.emqx.com"}
        ]}
    , {repo, "https://github.com/jdavidagudelo/ubidots-emqx-retainer"}
    , {functionality, ["Ubidots EMQX Retainer"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "Ubidots EMQX Retainer"}
    ]
}.